{% load static %}
<div class="col-sm-7 h1">
    {% comment %} <a href="#">{% block brand_title %}<img></img>{% endblock %}</a><small>shop</small> {% endcomment %}
    <img src="{% static 'oscar/img/ui/shenoy_logo.jpg' %}" height=200 width=200 alt="Add"/>
    {% comment %} <a href="{{ homepage_url }}">{% block brand_title %}{{ shop_name }}{% endblock %}</a><small> {{ shop_tagline }}</small> {% endcomment %}
</div>
